.characterSidebar {
  background-color: #333;

  position: fixed;
  transform: translate(-100%);

  max-width: 55%;
  max-height: 100vh;
  overflow-y: auto;

  transition: 0.2s;
}

.active {
  transform: translate(0);
  z-index: 10;
}

.closeBtn {
  border: none;
  background: none;

  color: #ffffff;
  font-size: 2rem;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  transition: 0.2s;
}

.closeBtn:hover {
  opacity: 0.5;
}

.nav {
  padding: 1rem;
  list-style: none;
}

.navItems {
  display: flex;
  align-items: center;

  margin-top: 1rem;
}

.logoWrapper {
  max-width: 50px;
}

.logoImg {
  width: 100%;
  object-fit: cover;
}

.linkBtn {
  margin-left: 1.5rem;

  text-decoration: none;
  color: #ffffff;
}

.linkBtn:hover {
  opacity: 0.5;
}
