.content {
  background-color: #f3f4f6;
}

.news {
  padding: 1rem;
}

.title {
  text-align: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-gap: 1rem;
  justify-items: center;

  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1rem;
    justify-items: center;

    padding: 1rem;
  }
}
